[alias]
	# Amend without prompting for message
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	b = branch
	co = checkout
	d = diff
	fc = !sh -c 'git ll | grep \"$1\"' -
	ff = !sh -c 'git ll -S$1' -
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ll = log --oneline --decorate
	p = push
	s = status
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[push]
	default = current
[user]
	email = peterghm@gmail.com
	name = Peter Graham
