[alias]
	# Amend without prompting for message
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	b = !git --no-pager branch
	co = checkout
	d = diff
	dm = !sh -c 'git diff HEAD~$1 HEAD' -
	fc = !sh -c 'git ll | grep \"$1\"' -
	ff = !sh -c 'git ll -S$1' -
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ll = log --oneline --decorate
	p = push
	s = status

[diff "ansible-vault"]
   	textconv = ansible-vault view
   	cachetextconv = false


[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = ~/.gitignore
	editor = "/usr/bin/vim"
[credential]
	helper = osxkeychain
[push]
	default = current
[user]
	email = peterghm@gmail.com
	name = Peter Graham
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA8+spDSOMyENmBt5lCyJysKdl3KeK7hSzSQKIocpJ/D
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
