packages: [
  "angularjs"
  "atom-beautify"
  "highlight-selected"
  "language-babel"
  "language-haml"
  "linter"
  "linter-erb"
  "linter-haml"
  "linter-jshint"
  "linter-ruby"
  "linter-scss-lint"
  "package-sync"
  "pigments"
  "ruby-block"
  "Sublime-Style-Column-Selection"
]
