packages: [
  "angularjs"
  "atom-beautify"
  "highlight-selected"
  "language-babel"
  "language-haml"
  "package-sync"
  "pigments"
  "rails-open-rspec"
  "rspec"
  "ruby-block"
  "Sublime-Style-Column-Selection"
  "svg-preview"
  "tablr"
]
